body{
    background-color: red;
}
.row1{
    width: 250px;
    height: 50px;
    

}
.bg1{
    background-color: blue;
}
.bg2{
    background-color: #ffff;
}
.row2{
    width: 50px;
    height: 100px;
    

}
.row3{
    width: 150px;
    height: 100px;
    
  
}
.din{
    display: inline-block;
}
.row4{
    width: 50px;
    height: 50px;
   
}
.row5{
    width: 150px;
    height: 50px;
    
}
.ml{
    margin-left: -4px;
}
.db{
    display: block;
}
.mt{
    margin-top: -4px;
}